body{
    background: #E9E9E9;
}

#virsraksts{
position: absolute;
width: 1265px;
height: 330px;
left: 550px;
top: 100px;

font-family: ZCOOL QingKe HuangYou;
font-style: normal;
font-weight: normal;
font-size: 250px;
line-height: 350px;

color: #EDD711;

-webkit-text-stroke-width: 5px;
-webkit-text-stroke-color: black;
text-shadow: -13px 15px 6px rgba(0, 0, 0, 0.35);
}

#button1{
    position: absolute;
width: 437px;
height: 86px;
left: 760px;
top: 700px;

background: #B5984F;
border: 3px solid #000000;
box-sizing: border-box;
box-shadow: -8px 8px 7px 8px rgba(0, 0, 0, 0.35);
border-radius: 23px;

font-family: ZCOOL QingKe HuangYou;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 64px;
/* identical to box height */


color: #EDD711;

-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
transform: rotate(-0.16deg);
}

#logo{
    position: absolute;
    width: 250px;
    height: 311px;
    left: 860px;
    top: 0px;
}

#viesnicasRedigesanaBackground {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

#palmuKoki {
    position: absolute;
    width: 33%;
    height: 100%;
    right: 1px;
    top: 1px;
    border: 1px solid #FFFFFF;
}

#img1 {
    position: absolute;
    width: 1470px;
    height: 873px;
    left: 0px;
    top: 0px;

    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px
}

#img2 {
    position: absolute;
width: 1620px;
height: 930px;
left: 300px;
top: -5px;

box-sizing: border-box;
}