#viesnicasRedigesanaBackground {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

#palmuKoki {
    position: absolute;
    width: 33%;
    height: 100%;
    right: 1px;
    top: 1px;
    border: 1px solid #FFFFFF;
}
